.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 20px;
}

.card__description-liked {
  padding: 21px 20px 21px 20px;
}